// MAIN TEMPLATING CODE GOES HERE
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700|Roboto:300,400,500,700')

// Font and colors variables
$primary: #00edb5
$secondary: #fe8e78
$white: #ffffff
$light-dark: #545454
$black: #303030
$gray: #7f7f7f
$light-gray: #cecece
$footer-background: #2c2956
$button-font: Roboto, san-seriff
$break-small: 390px
$break-medium: 768px
$break-large: 1200px


body
    background-color: #f9f9f9!important
//Antenna font for the titles
@font-face
    font-family: 'Ford Antenna Medium'
    font-style: normal
    font-weight: normal
    src: local('Ford Antenna Medium'), url('../fonts/ford-antenna-medium-58955836e60d2.woff') format('woff')
@font-face
    font-family: 'Ford Antenna Regular XCnd'
    font-style: normal
    font-weight: normal
    src: local('Ford Antenna Regular XCnd'), url('../fonts/ford-antenna-regular-xcnd-589558121012a.woff') format('woff')

h1,h2,h3,h4,h5,h6
    font-family: 'Ford Antenna Medium', 'Roboto'!important
p, li, span
    font-family: 'Quicksand'!important
    color: $light-dark

.btn
    transition: all  1s
    text-transform: uppercase
    font-size: 14px!important
    min-width: 200px!important
.btn:hover
    box-shadow: 0px 15px 20px rgba(111, 111, 111, 0.4)
    transform: translateY(-2px)
.btn-primary
    background-color: $primary!important
    border-color: $primary!important
    color: $light-dark!important
    font-weight: bold!important
.btn-primary:hover
    background-color: $primary!important
    border-color: $primary!important
    color: $light-dark!important
.btn-primary-light
    background-color: $primary!important
    border-color: $primary!important
    color: $white!important
    font-weight: bold!important
.btn-primary-light:hover
    background-color: $primary!important
    border-color: $primary!important
    color: $white!important
.btn-white
    background-color: $white!important
    border-color: $white!important
    color: $light-dark!important
    font-weight: bold!important
.btn-white:hover
    background-color: $white!important
    border-color: $white!important
    color: $light-dark!important
// NAVBAR CODE IMPORT
.btn-secondary
    background-color: $secondary!important
    border-color: $secondary!important
    color: $light-dark!important
    font-weight: bold!important
.btn-secondary:hover
    background-color: $secondary!important
    border-color: $secondary!important
    color: $light-dark!important
.btn-secondary-light
    background-color: $secondary!important
    border-color: $secondary!important
    color: $white!important
    font-weight: bold!important
.btn-secondary-light:hover
    background-color: $secondary!important
    border-color: $secondary!important
    color: $white!important
.app-wrapper
    background: #f9f9f9
    min-height: 100vh
.bg-success
    background-color: $primary!important
    border-color: $primary!important
.badge-light
    color: #212529
    border: solid 1px $primary
.primary-text
    color: $primary
.secondary-text
    color: $secondary
.icon-primary .fas
    color: $primary
    margin: 0 10px
.icon-secondary .fas
    color: $secondary
    margin: 0 10px
.btn-light-empty
    border: solid 1px $light-dark!important
    background: transparent!important
    color: $light-dark!important
.btn-light-empty.active
    border-color: $primary!important
.btn-light-empty.active:hover
    border-color: $primary!important
    background: $primary!important
.btn-light-empty:hover
    border: solid 1px $light-dark!important
    background: $light-dark!important
    color: $white!important
.btn-light-empty-white
    border: solid 1px $white!important
    background: transparent!important
    color: $white!important
.btn-light-empty-white:hover
    border: solid 1px $light-dark!important
    background: $light-dark!important
    color: $white!important
.primary-card-border
    border-left: solid 10px $primary!important
.secondary-card-border
    border-left: solid 10px $secondary!important
.btn-navigation
    background: $light-gray!important
    border-radius: 4px
    transition: all ease-in-out 0.4s
    font-size: 17px
    min-width: auto!important
    width: auto!important
    margin: 4px
.btn-navigation:hover
    background: $primary!important
    color: $white!important
    border-radius: 4px
// Ad spaces
.ad-space
    margin: 50px 0
.ad-space img
    width: 100%
    height: 250px
    object-fit: cover
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
    color: $light-dark!important
    background-color: transparent!important
    border-bottom: solid 2px $primary
    font-weight: bold
    border-radius: 0
.nav-pills .nav-link
    color: $light-dark!important
.nav-pills .nav-item
    padding: 0
    margin: 0

// NAVBAR CODE IMPORT
@import 'navbar-module'
@import 'subnavbar-module'

// Main app screen module
@import 'mainapp'
// Main app screen module
@import 'home-module'
// Log, register and revocer password
@import 'log-module'
// Log, register and revocer password
@import 'afterProjectModule'
// Project manager view styles
@import 'project-manager'
// Project manager view styles
@import 'chat-screen'
// Freelancer profile
@import 'freelancer-profile'
// Profile module for position and info
@import 'profile-position'
// Profile module for position and info
@import 'account-movements'
// Profile module for position and info
@import 'search-project-module'
// Social buttons custom
@import 'social-buttons'
// Post Work
@import 'post-offer'
// Post Search Freelancer
@import 'search-freelancer-module'
// Footer
@import 'footer-module'